
<fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-rotate-y="myAngle()" fa-transform="myTransform()" fa-opacity="0.95">
  <fa-surface fa-opacity="0.8" fa-color="'#fc5c4f'" fa-background-color="'white'" fa-padding="'5% 20% 5% 20%'">
    <h4>create account</h4>
    <form role="form">
      <div class="well well-sm">{{message}}</div>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
        <input type="text" ng-model="loginModel.username" class="form-control" placeholder="username">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
        <input type="email" ng-model="loginModel.email" class="form-control" placeholder="email">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" ng-model="loginModel.password" class="form-control" placeholder="password">
      </div>
      <div class="input-group">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
        <input type="password" ng-model="loginModel.password2" class="form-control" placeholder="password">
      </div>
      <br>
      <button type="submit" ng-click="createAccount()" class="btn btn-primary">Submit</button>
    </form>
    <div class="col-xs-12">
      <button class="btn btn-default btn-sm center-block" ng-click="toggle('main.login')">back</button>
    </div>
  </fa-surface>
</fa-modifier>
