
  <!--GameBoard Background-->
  <fa-image-surface fa-image-url="images/cardTable.png"></fa-image-surface>

  <!--Players-->
  <fa-modifier ng-repeat="player in players"
               fa-origin="[0.5,0.5]"
               fa-align="[0.5,0.5]"
               fa-translate="player.position.get()">
      <fa-sequential-layout>
        <fa-surface fa-size="[true,75]" fa-options="playerStyle">{{player.name}}</fa-surface>
        <fa-image-surface fa-size="[true,true]" fa-image-url="images/user.png"></fa-image-surface>
      </fa-sequential-layout>
  </fa-modifier>

  <!--Player Cards-->
  <fa-modifier fa-size="[undefined,height/5]"
               fa-origin="[0.5,0.5]"
               fa-align="[0.5,0.85]">
    <fa-grid-layout fa-options="cardsGrid">
          <fa-surface fa-click="addRemoveCards($index)" ng-repeat="card in cards track by $index">
            <img ng-style="getCardSprite(card)"></img>
          </fa-surface>
    </fa-grid-layout>
  </fa-modifier>

    <!--Game Message-->
    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.3]">
      <fa-surface fa-size="[200,true]" fa-options="currentMessage">{{game_message}} {{lastMove}}</fa-surface>
    </fa-modifier>

    <!--Bidding-->
    <fa-modifier ng-if="bidding && !dealing" fa-size="[130,50]" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-scale="[3,3]">
      <fa-grid-layout fa-options="{dimensions:[3,1]}">
        <fa-surface fa-click="sendBid(0)" fa-options="bidStyle">PASS</fa-surface>
        <fa-grid-layout fa-options="{dimensions:[1,3]}">
          <fa-image-surface fa-click="bid('up')" fa-image-url="images/arrowUp.png"></fa-image-surface>
          <fa-surface fa-options="bidCounterStyle">{{currentbid}}</fa-surface>
          <fa-image-surface fa-click="bid('down')" fa-image-url="images/arrowDown.png"></fa-image-surface>
        </fa-grid-layout>
        <fa-surface fa-click="sendBid(currentbid)" fa-options="bidStyle">BID</fa-surface>
      </fa-grid-layout>
    </fa-modifier>

    <!--Trump-->
    <fa-modifier ng-if="trump && !dealing" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]">
      <fa-surface fa-size="[true,true]" fa-options="currentMessage">
          <button ng-click="sendTrump('Hearts')" class="btn btn-sm btn-primary">Hearts</button>
          <button ng-click="sendTrump('Spades')" class="btn btn-sm btn-info">Spades</button>
          <button ng-click="sendTrump('Diamonds')" class="btn btn-sm btn-primary">Diamonds</button>
          <button ng-click="sendTrump('Clubs')" class="btn btn-sm btn-info">Clubs</button>
      </fa-surface>
    </fa-modifier>

    <!--DEALING-->
    <fa-modifier ng-repeat="card in deck"
                 fa-size=[100,140]
                 fa-origin=[0.5,0.5]
                 fa-align=[0.5,0.5]
                 fa-translate="card.position.get()"
                 fa-rotate-z="card.angleZ.get()">
        <fa-image-surface fa-options="cardStyle" fa-image-url="images/cardBack.png"></fa-image-surface>
    </fa-modifier>
