
  <!--GameBoard Background-->
  <fa-image-surface fa-image-url="images/cardTable.png"></fa-image-surface>

  <!-- Temp -->
  <fa-modifier fa-size="[true,true]">
    <fa-surface>
    </br><button ng-click="setPlayers()" class="btn btn-primary btn-lg">Set Players</button>
    </br><button ng-click="startDeal()" class="btn btn-success btn-lg">Deal</button>
    </br><button ng-click="startBidding()" class="btn btn-info btn-lg">Bid</button>
    </br><button ng-click="startOption()" class="btn btn-warning btn-lg">Option</button>
    </fa-surface>
  </fa-modifier>

  <!-- ScoreBoard -->
  <fa-modifier fa-size="[width/3,height/8]"
               fa-origin="[.97,0.01]"
               fa-align="[.97,0.01]">
    <fa-surface fa-options="scoreboardStyle"></fa-surface>
  </fa-modifier>

  <!--Players-->
  <fa-modifier ng-repeat="player in players"
               fa-origin="[0.5,0.5]"
               fa-align="[0.5,0.4]"
               fa-translate="player.position.get()">
      <fa-sequential-layout>
        <fa-surface fa-size="[true,75]" fa-options="playerStyle">{{player.name}}</fa-surface>
        <fa-image-surface fa-size="[true,true]" fa-image-url="images/user.png"></fa-image-surface>
      </fa-sequential-layout>
  </fa-modifier>

  <!--Player Cards-->
  <fa-modifier fa-size="[undefined,height/5]"
               fa-origin="[0.5,0.5]"
               fa-align="[0.5,0.85]">
    <fa-grid-layout fa-options="cardsGrid">
      <fa-modifier fa-origin="[0.5,0.5]"
                   fa-align="[0.5,0.5]"
                   fa-translate="card.position.get()"
                   ng-repeat="card in cards track by $index">
          <fa-surface fa-touchstart = "cardTouchStart($event,card)"
                      fa-touchmove = "cardTouchMove($event,card)"
                      fa-touchend = "cardTouchEnd($event,card)">
          <img ng-style="getCardSprite(card)"></img>
        </fa-surface>
      </fa-modifier>
    </fa-grid-layout>
  </fa-modifier>

    <!--Game Message-->
    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.3]">
      <fa-surface fa-size="[200,true]" fa-options="currentMessage">{{game_message}} {{lastMove}}</fa-surface>
    </fa-modifier>

    <!--Bidding-->
    <fa-modifier ng-show="bidding && !dealing" fa-size="[130,50]" fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-scale="[3,3]">
      <fa-grid-layout fa-options="{dimensions:[3,1]}">
        <fa-surface fa-click="sendBid(0)" fa-options="bidStyle">PASS</fa-surface>
        <fa-grid-layout fa-options="{dimensions:[1,3]}">
          <fa-image-surface fa-click="bid('up')" fa-image-url="images/arrowUp.png"></fa-image-surface>
          <fa-surface fa-options="bidCounterStyle">{{currentbid}}</fa-surface>
          <fa-image-surface fa-click="bid('down')" fa-image-url="images/arrowDown.png"></fa-image-surface>
        </fa-grid-layout>
        <fa-surface fa-click="sendBid(currentbid)" fa-options="bidStyle">BID</fa-surface>
      </fa-grid-layout>
    </fa-modifier>

    <!--Option-->
    <fa-modifier ng-show="option && !dealing"
                 fa-size="[width/1.2,true]"
                 fa-origin="[0.5,0.5]"
                 fa-align="[0.5,0.5]">
      <fa-grid-layout fa-options="{dimensions:[options.length,1]}">
        <fa-surface fa-options="optionStyle"
                    fa-size="[true,true]"
                    ng-repeat="option in options">
          {{option.option}}
        </fa-surface>
      </fa-grid-layout>
    </fa-modifier>

    <!--DEALING-->
    <fa-modifier ng-repeat="card in deck"
                 fa-size=[100,140]
                 fa-origin=[0.5,0.5]
                 fa-align=[0.5,0.5]
                 fa-translate="card.position.get()"
                 fa-rotate-z="card.angleZ.get()">
        <fa-image-surface fa-options="cardStyle" fa-image-url="images/cardBack.png"></fa-image-surface>
    </fa-modifier>
