<h4>Login</h4>
<form role="form">
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
    <input type="text" ng-model="loginModel.username" class="form-control" placeholder="username">
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
    <input type="password" ng-model="loginModel.password" class="form-control" placeholder="password">
  </div>
  <hr>
  <button type="submit" ng-click="login()" class="btn btn-lg btn-default">Submit</button>
</form>
<div class="col-md-6">
  <br>
  <button class="btn btn-primary center-block" ng-click="spin('create')">create account</button>
</div>
<div class="col-md-6">
  <br>
  <button class="btn btn-primary center-block" ng-click="forgotPassword()">forgot password</button>
</div>
