
<fa-modifier fa-origin="[0.5,1]" fa-align="[0.5,1]" fa-transform="loginScaleTransform()" fa-opacity="0.95">

  <fa-modifier fa-transform="loginAngleTransform()" fa-opacity="0.95">

    <fa-surface fa-options="loginSurface" fa-touchstart="loginTouchStart($event)" fa-touchend="loginTouchEnd($event)" fa-touchmove="loginTouchMove($event)">
      <h4>{{loginState.login}}</h4>
      <form role="form">
        <div class="well well-sm">{{message}}</div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" ng-model="loginModel.username" class="form-control" placeholder="username">
        </div>
        <div ng-if="loginState.create" class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="email" ng-model="loginModel.email" class="form-control" placeholder="email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" ng-model="loginModel.password" class="form-control" placeholder="password">
        </div>
        <div ng-if="loginState.create" class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" ng-model="loginModel.password2" class="form-control" placeholder="password">
        </div>
      </form>
    </fa-surface>

  </fa-modifier>

</fa-modifier>
