
<fa-modifier fa-origin="[0.5,1]" fa-align="[0.5,1]" fa-transform="loginScaleTransform()" fa-opacity="0.95">

  <fa-modifier fa-transform="loginAngleTransform()" fa-transform="transformLobby()">

    <fa-surface fa-options="loginSurface" fa-touchstart="loginTouchStart($event)" fa-touchend="loginTouchEnd($event)" fa-touchmove="loginTouchMove($event)">
      <h4>{{loginState.login}}</h4>
      <form role="form">
        <div class="well well-sm">{{message}}</div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
          <input type="text" ng-model="loginModel.username" class="form-control" placeholder="username">
        </div>
        <div ng-show="loginState.create" class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
          <input type="email" ng-model="loginModel.email" class="form-control" placeholder="email">
        </div>
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" ng-model="loginModel.password" class="form-control" placeholder="password">
        </div>
        <div ng-show="loginState.create" class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
          <input type="password" ng-model="loginModel.password2" class="form-control" placeholder="password">
        </div>
      </form>
    </fa-surface>

  </fa-modifier>

    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.6]" fa-translate="swipe.left.get()" fa-scale="[10,10,100]">
      <fa-surface ng-show="swipe.activeLeft" fa-size="[true,true]" fa-color="'#fc5c4f'">⇠</fa-surface>
    </fa-modifier>

    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.6]" fa-translate="swipe.down.get()" fa-scale="[10,10,100]">
      <fa-surface ng-show="swipe.activeDown" fa-size="[true,true]" fa-color="'#fc5c4f'">⇣</fa-surface>
    </fa-modifier>

    <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-scale="[5,5,1]">
      <fa-surface ng-show="swipe.activeDown || swipe.activeLeft" fa-size="[true,true]" fa-color="'#fc5c4f'">{{swipe.title}}</fa-surface>
    </fa-modifier>

</fa-modifier>
