
<fa-app fa-perspective="{{modPerspective()}}">
  <fa-header-footer-layout>

    <!--Header-->
    <fa-modifier fa-size="[undefined, 30]">
      <fa-surface fa-options="myHeader" fa-z-index="100">
        Cards!
      </fa-surface>
    </fa-modifier>

    <!--Body-->
    <fa-modifier>
        <div ui-view></div>
    </fa-modifier>

    <!--Footer-->
    <fa-surface fa-options="myFooter" fa-z-index="100" fa-size="[undefined, 30]">
      Built using Famous-Angular @Chris Boese
    </fa-surface>
  </fa-header-footer-layout>
</fa-app>
