<fa-modifier>
  <!--GameBoard Background-->
  <fa-image-surface fa-image-url="images/cardTable.png"></fa-image-surface>

  <fa-flexible-layout fa-options="gameGridTopDown">
    <fa-flexible-layout fa-options="gameGridTopRight">
      <!--Game Message-->
      <fa-surface fa-z-index="10" fa-options="currentMessage" fa-background-color="'white'" color="'black'">{{gameObject['currentMessage']}}</fa-surface>
      <!--Player North Grid-->
      <fa-modifier fa-align="[0,0.5]">
        <fa-surface fa-options="player" fa-color="'white'">{{players['North']}}</fa-surface>
      </fa-modifier>
      <!--Game ScoreBoard-->
      <fa-modifier fa-scale=".8">
        <fa-surface fa-options="mySidebar"> {{gameObject['lastMove']['bid']}} </fa-surface>
      </fa-modifier>
    </fa-flexible-layout>
    <fa-flexible-layout fa-options="gameGridMiddleRight">
      <!--Player West Grid-->
      <fa-modifier fa-align="[0,0.5]">
        <fa-surface></fa-surface>
      </fa-modifier>
      <!--Game Play Grid-->
      <fa-modifier fa-origin="[0.5,0.5]" fa-align="[0.5,0.5]" fa-transform="arrow()">
        <fa-surface fa-options="gamePlayGrid"></fa-surface>
      </fa-modifier>
      <!--Player East Grid-->
      <fa-modifier fa-align="[0,0.5]">
        <fa-surface></fa-surface>
      </fa-modifier>
    </fa-flexible-layout>
    <!--Player South Grid-->
      <fa-modifier>
        <fa-surface fa-options="guessTheNumberOptions" fa-z-index="50">
          <div class="row">
            <input type="number" ng-model="number"></input>
            <button ng-click="guessNumber(number)" class="btn btn-primary">Send Number</button>
          </div>
        </fa-surface>
      </fa-modifier>
  </fa-flexible-layout>

</fa-modifier>
